In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/Data-cleaning-for-beginners-using-pandas.csv")

In [ ]:
data.head()

   Index   Age     Salary  Rating       Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

In [ ]:
data.columns

Index(['Index', 'Age', 'Salary', 'Rating', 'Location', 'Established',
       'Easy Apply'],
      dtype='object')

In [ ]:
data.shape

(29, 7)

# NULL / Missing Values

In [ ]:
data.isnull().sum()

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

In [ ]:
data[data['Age'].isnull()]

    Index  Age     Salary  Rating       Location  Established Easy Apply
2       2  NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
12     12  NaN  $44k-$99k     0.0       India,In         1999         -1
17     17  NaN  $44k-$99k     5.3    New York,Ny         1943       TRUE
20     20  NaN  $44k-$99k     5.7    New York,Ny         1944       TRUE
23     23  NaN  $44k-$99k     2.4    New York,Ny         1999       TRUE
26     26  NaN  $55k-$66k     NaN       India,In         1934       TRUE
28     28  NaN  $39k-$88k     3.4  Australia Aus         1932         -1

In [ ]:
data['Age'].fillna(value= data['Age'].mean(), inplace=True)

In [ ]:
data[data['Age'].isnull()]

Empty DataFrame
Columns: [Index, Age, Salary, Rating, Location, Established, Easy Apply]
Index: []

In [ ]:
data["Age"]

0     44.000000
1     66.000000
2     39.045455
3     64.000000
4     25.000000
5     44.000000
6     21.000000
7     44.000000
8     35.000000
9     22.000000
10    55.000000
11    44.000000
12    39.045455
13    25.000000
14    66.000000
15    44.000000
16    19.000000
17    39.045455
18    35.000000
19    32.000000
20    39.045455
21    35.000000
22    19.000000
23    39.045455
24    13.000000
25    55.000000
26    39.045455
27    52.000000
28    39.045455
Name: Age, dtype: float64

In [ ]:
data['Age'] = data['Age'].astype(int)

In [ ]:
data["Age"]

0     44
1     66
2     39
3     64
4     25
5     44
6     21
7     44
8     35
9     22
10    55
11    44
12    39
13    25
14    66
15    44
16    19
17    39
18    35
19    32
20    39
21    35
22    19
23    39
24    13
25    55
26    39
27    52
28    39
Name: Age, dtype: int64

In [ ]:
data[data['Rating'].isnull()]

    Index  Age     Salary  Rating  Location  Established Easy Apply
26     26   39  $55k-$66k     NaN  India,In         1934       TRUE

In [ ]:
data.dropna(subset=['Rating'], inplace=True)

In [ ]:
data[data['Rating'].isnull()]

Empty DataFrame
Columns: [Index, Age, Salary, Rating, Location, Established, Easy Apply]
Index: []

There are 2 columns **Age** and **Rating** that contain NULL values. Age that contain NULL values can be replaced by statistical parameter like mean, median , mode or can be replaced by some global constant, we can also replace it with its preceeding or suceeding value too. For Rating as there is only 1 values we can even drop this NULL value.

# Data Types

In [ ]:
data.head(29)

    Index  Age      Salary  Rating       Location  Established Easy Apply
0       0   44   $44k-$99k     5.4       India,In         1999       TRUE
1       1   66   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   39   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3   64   $44k-$99k     4.4       India In         1988         -1
4       4   25   $44k-$99k     6.4  Australia Aus         2002         -1
5       5   44   $77k-$89k     1.4       India,In         1999       TRUE
6       6   21   $44k-$99k     0.0    New York,Ny           -1         -1
7       7   44   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8   35   $44k-$99k     5.4    New York,Ny           -1         -1
9       9   22   $44k-$99k     7.7       India,In           -1       TRUE
10     10   55   $10k-$49k     5.4       India,In         2008       TRUE
11     11   44   $10k-$49k     6.7       India,In         2009         -1
12     12   39   $44k-$99k     0.0       India,In         1999         -1
13     13   25   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14   66   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15   44  $88k-$101k     3.0  Australia Aus         1999         -1
16     16   19   $19k-$40k     4.5       India,In         1984         -1
17     17   39   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18   35   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19   32   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   39   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21   35   $44k-$99k     5.0    New York,Ny         1946         -1
22     22   19   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   39   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24   13   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25   55   $44k-$99k     0.0  Australia Aus         1980       TRUE
27     27   52   $44k-$99k     5.4       India,In         1935         -1
28     28   39   $39k-$88k     3.4  Australia Aus         1932         -1

In [ ]:
data.dtypes

Index            int64
Age              int64
Salary          object
Rating         float64
Location        object
Established      int64
Easy Apply      object
dtype: object

In [ ]:
# Salary formatting
# Handling Special Characters
data['Salary'] = data['Salary'].apply(lambda x: x.replace("$",""))
data['Salary'] = data['Salary'].apply(lambda x: x.replace("k","000"))
data

    Index  Age        Salary  Rating       Location  Established Easy Apply
0       0   44   44000-99000     5.4       India,In         1999       TRUE
1       1   66   55000-66000     3.5    New York,Ny         2002       TRUE
2       2   39   77000-89000    -1.0    New York,Ny           -1         -1
3       3   64   44000-99000     4.4       India In         1988         -1
4       4   25   44000-99000     6.4  Australia Aus         2002         -1
5       5   44   77000-89000     1.4       India,In         1999       TRUE
6       6   21   44000-99000     0.0    New York,Ny           -1         -1
7       7   44   44000-99000    -1.0  Australia Aus           -1         -1
8       8   35   44000-99000     5.4    New York,Ny           -1         -1
9       9   22   44000-99000     7.7       India,In           -1       TRUE
10     10   55   10000-49000     5.4       India,In         2008       TRUE
11     11   44   10000-49000     6.7       India,In         2009         -1
12     12   39   44000-99000     0.0       India,In         1999         -1
13     13   25   44000-99000    -1.0  Australia Aus         2019       TRUE
14     14   66   44000-99000     4.0  Australia Aus         2020       TRUE
15     15   44  88000-101000     3.0  Australia Aus         1999         -1
16     16   19   19000-40000     4.5       India,In         1984         -1
17     17   39   44000-99000     5.3    New York,Ny         1943       TRUE
18     18   35   44000-99000     6.7    New York,Ny         1954       TRUE
19     19   32   44000-99000     3.3    New York,Ny         1955       TRUE
20     20   39   44000-99000     5.7    New York,Ny         1944       TRUE
21     21   35   44000-99000     5.0    New York,Ny         1946         -1
22     22   19   55000-66000     7.8    New York,Ny         1988       TRUE
23     23   39   44000-99000     2.4    New York,Ny         1999       TRUE
24     24   13   44000-99000    -1.0    New York,Ny         1987         -1
25     25   55   44000-99000     0.0  Australia Aus         1980       TRUE
27     27   52   44000-99000     5.4       India,In         1935         -1
28     28   39   39000-88000     3.4  Australia Aus         1932         -1

**Salary** can be further converted into integer value by using manipulations i.e. by dividing data in two columns and converting data type to integer.
**Easy Apply** can also be conveted into boolean that is 1,0 form.

# Outliers

In [ ]:
data[data['Rating'] < 0]

    Index  Age       Salary  Rating       Location  Established Easy Apply
2       2   39  77000-89000    -1.0    New York,Ny           -1         -1
7       7   44  44000-99000    -1.0  Australia Aus           -1         -1
13     13   25  44000-99000    -1.0  Australia Aus         2019       TRUE
24     24   13  44000-99000    -1.0    New York,Ny         1987         -1

In [ ]:
data.loc[data['Rating'] < 0, "Rating" ] = 0

In [ ]:
data[data['Rating'] < 0]

Empty DataFrame
Columns: [Index, Age, Salary, Rating, Location, Established, Easy Apply]
Index: []

In [ ]:
data[data['Established']<0]

   Index  Age       Salary  Rating       Location  Established Easy Apply
2      2   39  77000-89000     0.0    New York,Ny           -1         -1
6      6   21  44000-99000     0.0    New York,Ny           -1         -1
7      7   44  44000-99000     0.0  Australia Aus           -1         -1
8      8   35  44000-99000     5.4    New York,Ny           -1         -1
9      9   22  44000-99000     7.7       India,In           -1       TRUE

In [ ]:
data.loc[data['Established'] == -1 , "Established" ] = 1900

In [ ]:
data[data['Established']<0]

Empty DataFrame
Columns: [Index, Age, Salary, Rating, Location, Established, Easy Apply]
Index: []

In [ ]:
data[data['Easy Apply'] != 'TRUE']

    Index  Age        Salary  Rating       Location  Established Easy Apply
2       2   39   77000-89000     0.0    New York,Ny         1900         -1
3       3   64   44000-99000     4.4       India In         1988         -1
4       4   25   44000-99000     6.4  Australia Aus         2002         -1
6       6   21   44000-99000     0.0    New York,Ny         1900         -1
7       7   44   44000-99000     0.0  Australia Aus         1900         -1
8       8   35   44000-99000     5.4    New York,Ny         1900         -1
11     11   44   10000-49000     6.7       India,In         2009         -1
12     12   39   44000-99000     0.0       India,In         1999         -1
15     15   44  88000-101000     3.0  Australia Aus         1999         -1
16     16   19   19000-40000     4.5       India,In         1984         -1
21     21   35   44000-99000     5.0    New York,Ny         1946         -1
24     24   13   44000-99000     0.0    New York,Ny         1987         -1
27     27   52   44000-99000     5.4       India,In         1935         -1
28     28   39   39000-88000     3.4  Australia Aus         1932         -1

**Rating** column contains values that are negative we can adjust them to 0. for **Established** column we can set NULL values or to a global constant. For **Easy Apply** , by looking at data we can say -1  could indicate false value and so we can set it to False.

In [ ]:
data.loc[data['Easy Apply'] != 'TRUE', 'Easy Apply' ] = 'FALSE'

In [ ]:
data[data['Easy Apply'] != 'TRUE']

    Index  Age        Salary  Rating       Location  Established Easy Apply
2       2   39   77000-89000     0.0    New York,Ny         1900      FALSE
3       3   64   44000-99000     4.4       India In         1988      FALSE
4       4   25   44000-99000     6.4  Australia Aus         2002      FALSE
6       6   21   44000-99000     0.0    New York,Ny         1900      FALSE
7       7   44   44000-99000     0.0  Australia Aus         1900      FALSE
8       8   35   44000-99000     5.4    New York,Ny         1900      FALSE
11     11   44   10000-49000     6.7       India,In         2009      FALSE
12     12   39   44000-99000     0.0       India,In         1999      FALSE
15     15   44  88000-101000     3.0  Australia Aus         1999      FALSE
16     16   19   19000-40000     4.5       India,In         1984      FALSE
21     21   35   44000-99000     5.0    New York,Ny         1946      FALSE
24     24   13   44000-99000     0.0    New York,Ny         1987      FALSE
27     27   52   44000-99000     5.4       India,In         1935      FALSE
28     28   39   39000-88000     3.4  Australia Aus         1932      FALSE

# Location Standardization

In [ ]:
data['Location']

0          India,In
1       New York,Ny
2       New York,Ny
3          India In
4     Australia Aus
5          India,In
6       New York,Ny
7     Australia Aus
8       New York,Ny
9          India,In
10         India,In
11         India,In
12         India,In
13    Australia Aus
14    Australia Aus
15    Australia Aus
16         India,In
17      New York,Ny
18      New York,Ny
19      New York,Ny
20      New York,Ny
21      New York,Ny
22      New York,Ny
23      New York,Ny
24      New York,Ny
25    Australia Aus
27         India,In
28    Australia Aus
Name: Location, dtype: object

In [ ]:
# Handling Special Characters
data.loc[data['Location'] == 'India,In', 'Location'] = "India"
data.loc[data['Location'] == 'Australia Aus', 'Location'] = "Australia"
data.loc[data['Location'] == 'New York,Ny', 'Location'] = "New York"

In [ ]:
data['Location']

0         India
1      New York
2      New York
3      India In
4     Australia
5         India
6      New York
7     Australia
8      New York
9         India
10        India
11        India
12        India
13    Australia
14    Australia
15    Australia
16        India
17     New York
18     New York
19     New York
20     New York
21     New York
22     New York
23     New York
24     New York
25    Australia
27        India
28    Australia
Name: Location, dtype: object

# Rating Range

In [ ]:
print(data['Rating'].min())
print(data['Rating'].max())
print(data['Rating'].mean())
print(data['Rating'].median())
print(data['Rating'].mode())

0.0
7.8
3.6714285714285717
4.2
0    0.0
Name: Rating, dtype: float64

# Age Distribution

In [ ]:
data['Age']

0     44
1     66
2     39
3     64
4     25
5     44
6     21
7     44
8     35
9     22
10    55
11    44
12    39
13    25
14    66
15    44
16    19
17    39
18    35
19    32
20    39
21    35
22    19
23    39
24    13
25    55
27    52
28    39
Name: Age, dtype: int64

In [ ]:
print(data['Age'].min())
print(data['Age'].max())
print(data['Age'].mean())
print(data['Age'].median())
print(data['Age'].mode())

13
66
39.035714285714285
39.0
0    39
Name: Age, dtype: int64

# Apply Transformation (Handling Categorical Data)

In [ ]:
data.dtypes

Index            int64
Age              int64
Salary          object
Rating         float64
Location        object
Established      int64
Easy Apply      object
dtype: object

In [ ]:
data['Easy Apply']

0      TRUE
1      TRUE
2     FALSE
3     FALSE
4     FALSE
5      TRUE
6     FALSE
7     FALSE
8     FALSE
9      TRUE
10     TRUE
11    FALSE
12    FALSE
13     TRUE
14     TRUE
15    FALSE
16    FALSE
17     TRUE
18     TRUE
19     TRUE
20     TRUE
21    FALSE
22     TRUE
23     TRUE
24    FALSE
25     TRUE
27    FALSE
28    FALSE
Name: Easy Apply, dtype: object

In [ ]:
# Handling Categorical Data
data.loc[data['Easy Apply'] == 'TRUE', 'Easy Apply' ] = 1
data.loc[data['Easy Apply'] == 'FALSE', 'Easy Apply' ] = 0

In [ ]:
data['Easy Apply']

0     1
1     1
2     0
3     0
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    0
12    0
13    1
14    1
15    0
16    0
17    1
18    1
19    1
20    1
21    0
22    1
23    1
24    0
25    1
27    0
28    0
Name: Easy Apply, dtype: object

In [ ]:
# Converting object to int
data['Easy Apply'].astype(int)

0     1
1     1
2     0
3     0
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    0
12    0
13    1
14    1
15    0
16    0
17    1
18    1
19    1
20    1
21    0
22    1
23    1
24    0
25    1
27    0
28    0
Name: Easy Apply, dtype: int64

# Scaling / Normalization

In [ ]:
# we scale scale Rating between 0 to 1 using MinMax Scaler, Standard Scaler, Decimal Scaling, Logarithmic Scaling, Robust Sacling, etc.
# we need to make use of scikit-learn library for Scaling

# Cleaned dataset

In [ ]:
print("\nCleaned DataFrame:")
data

Cleaned DataFrame:

    Index  Age        Salary  Rating   Location  Established Easy Apply
0       0   44   44000-99000     5.4      India         1999          1
1       1   66   55000-66000     3.5   New York         2002          1
2       2   39   77000-89000     0.0   New York         1900          0
3       3   64   44000-99000     4.4   India In         1988          0
4       4   25   44000-99000     6.4  Australia         2002          0
5       5   44   77000-89000     1.4      India         1999          1
6       6   21   44000-99000     0.0   New York         1900          0
7       7   44   44000-99000     0.0  Australia         1900          0
8       8   35   44000-99000     5.4   New York         1900          0
9       9   22   44000-99000     7.7      India         1900          1
10     10   55   10000-49000     5.4      India         2008          1
11     11   44   10000-49000     6.7      India         2009          0
12     12   39   44000-99000     0.0      India         1999          0
13     13   25   44000-99000     0.0  Australia         2019          1
14     14   66   44000-99000     4.0  Australia         2020          1
15     15   44  88000-101000     3.0  Australia         1999          0
16     16   19   19000-40000     4.5      India         1984          0
17     17   39   44000-99000     5.3   New York         1943          1
18     18   35   44000-99000     6.7   New York         1954          1
19     19   32   44000-99000     3.3   New York         1955          1
20     20   39   44000-99000     5.7   New York         1944          1
21     21   35   44000-99000     5.0   New York         1946          0
22     22   19   55000-66000     7.8   New York         1988          1
23     23   39   44000-99000     2.4   New York         1999          1
24     24   13   44000-99000     0.0   New York         1987          0
25     25   55   44000-99000     0.0  Australia         1980          1
27     27   52   44000-99000     5.4      India         1935          0
28     28   39   39000-88000     3.4  Australia         1932          0